.counter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 20px;
    gap: 10px;
}
.digit{
    background-color: rgb(3, 14, 14);
    color: white;
    font-size: 50px;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
